@import './utilities/__variables.scss';
@import './components/card.scss';
@import './pages/home.scss';
@import './pages/about.scss';
@import './pages/goals.scss';
@import './pages/team.scss';

h1 {
  font-family: "alfarn-2", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2, h3, h4, p, body {
  font-family: "bio-sans", sans-serif; 
  letter-spacing: .05em;
  font-style: normal;
}

.page-content {
  position: relative;

  &.fixed {
    position: fixed;
    overflow: hidden;
  }
}

.header {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  text-align: left;
  display: flex;
  align-items: center;
  width: 55vw;

  &--names {
    margin: 0;
    margin-bottom: 4px;
  }

  &--slogan {
    font-style: italic;
    margin: 0;
  }

  &.img-container {
    background: $brand-1;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }

  .img {
    border-radius: 50px;
    width: 60px;
    height: 60px;

  }
}

.navigation {
  &--item {
    &.active {
      font-weight: 600;
    }
  }

  &--burger {
    z-index: 2;
    position: relative;
  }

  &--overlay {
    display: none;

    &.open {
      display: block;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $brand-4; 
    }
  }
}

.footer {
  margin-top: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-5;
  color: white;

  &.hidden { display: none; }
  &--icon {
    width: 32px;
    padding-right: 8px;
    &:hover {
      cursor: pointer;
      fill: $brand-1;
    }
  }
  a {
    text-decoration: none;
    color: $brand-4;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: relative;

    &--list {
      display: none;

      &.burger {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        z-index: 4;
        height: 40vh;
        font-size: 32px;
        list-style: none;
      }
    }
  
    &--item {
      color: black;
      text-decoration: none;
    }

    &--burger {
      display: block;
      text-align: right;
    }
  }

  .brand {
    &--names {
      display: none;
    }
  
    &--slogan {
      display: none;
    }

    &.nav-open {
      display: none;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: relative;

    &--list {
      display: none;

      &.burger {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        z-index: 4;
        height: 40vh;
        font-size: 32px;
        list-style: none;
      }
    }
  
    &--item {
      color: black;
      text-decoration: none;
    }

    &--burger {
      display: block;
      text-align: right;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 800px) {
  .navigation {
    width: auto;
    height: 100%;
    position: relative;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .navigation {
    &--list {
      display: flex;
      list-style: none;
      justify-content: space-between;
      width: 35vw;
    }
  
    &--item {
      color: black;
      text-decoration: none;
    }

    &--burger {
      display: none;
    }
  }
}