$brand-1: #BDAAD2;
$brand-2: #9B7AC1;
$brand-3: #6C4A92;
$brand-4: #BEC6FF;
$brand-5: #4853A4;
$brand-6: #1B235A;
$brand-7: #9AEE97;
$brand-8: #68BA65;
$brand-9: #2B6729;

$secondary-1: #FCF7F6;
$secondary-2: #231F20;
$secondary-3: #6D6D6D;
